@font-face {
  font-family: Cascadia Mono;
  src: url("../build/assets/fonts/CascadiaMono-Light.otf");
}

@import "tailwindcss";

@theme {
  --font-mono: Cascadia Mono;
  --color-midnight: #041322;
  --color-lightmidnight: #1d2142;
  --color-lightabyss: #131536;
  --color-abyss: #010d1a;
  --color-azure: #2596d1;
  --color-dusk: #4e5481;
  --color-frost: #a2bffe;
  --color-blaze: #ffa62f;
  --color-whitedusk: #a0a4b0;
  --color-transparentBlue: #131536a7;
  --gradient-azure-frost: linear-gradient(
    to right,
    var(--color-midnight) 5%,
    #202e54 95%
  );
}

@layer utilities {
  .focused-btn-highlight {
    border-radius: 1.5rem 0.5rem 1.5rem 0.5rem;
    background-image: var(--gradient-azure-frost);
    border: 3px solid #475f94;
    position: absolute;
    height: 60px;
    width: calc(100% - 3.5rem);
    left: 1.5rem;
    top: 0;
    transition: transform 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
  }

  .rounded-button {
    border-radius: 1.5rem 0.5rem 1.5rem 0.5rem;
  }

  .button-links {
    position: relative;
    cursor: pointer;
  }
  .button-text {
    transition: color 200ms ease-out 90ms !important;
  }
  .button-icon {
    transition: color 200ms ease-out 90ms !important;
  }
}
